---
import "@styles/globals.css";
import type { BaseProps } from "@models/props";
import Snowflake from "@components/shared/Snowflake.astro";

export interface Props extends BaseProps {
    title: string;
    description?: string | null;
    image?: URL | string | null;
    noIndex?: boolean;
    keywords?: string[] | null;
}

const { id, style, class: cls } = Astro.props;

const url = Astro.locals.runtime.env.HOST ?? import.meta.env.SITE;
const lang = "es";
const title =
    Astro.props.title === "Mi Roulotte" ? "Mi Roulotte" : `${Astro.props.title} | Mi Roulotte`;
const author = "Alejandro Diez Bermejo";
const description = Astro.props.description ?? null;
const image = Astro.props.image
    ? new URL(Astro.props.image, Astro.locals.runtime.env.CDN_HOST)
    : null;
const canonical = new URL(Astro.url.pathname, url);
const noIndex = Astro.props.noIndex ?? false;
const keywords = Astro.props.keywords ?? null;
---

<html {lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        {description && <meta name="description" content={description} />}
        <meta name="author" content={author} />
        <meta name="format-detection" content="telephone=no" />
        <link rel="icon" href={new URL("/favicon.svg", url)} type="image/svg+xml" />
        <link rel="icon" href={new URL("/favicon.png", url)} type="image/png" sizes="192x192" />
        <link rel="icon" href={new URL("/favicon.ico", url)} sizes="any" />
        <link
            rel="apple-touch-icon"
            href={new URL("/apple-touch-icon.png", url)}
            type="image/png"
            sizes="512x512"
        />
        <link
            rel="manifest"
            href={new URL("/manifest.json", url)}
            type="application/manifest+json"
        />
        <link rel="sitemap" href={new URL("/sitemap.xml", url)} type="application/xml" />
        <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
        <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="preload"
            href="/fonts/IBMPlexSans/Variable.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link
            rel="preload"
            href="/fonts/IBMCarbonIcons/Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
        />
        <link rel="canonical" href={canonical} />
        {
            noIndex ? (
                <>
                    <meta name="robots" content="noindex, nofollow" />
                    <meta name="googlebot" content="noindex, nofollow" />
                </>
            ) : (
                <>
                    <meta name="robots" content="index, follow" />
                    <meta name="googlebot" content="index, follow" />
                </>
            )
        }
        {keywords && <meta name="keywords" content={[...new Set(keywords)].join(", ")} />}
        <meta property="og:url" content={canonical} />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Mi Roulotte" />
        <meta property="og:title" content={title} />
        <meta property="og:locale" content={lang} />
        {description && <meta property="og:description" content={description} />}
        {
            image && (
                <>
                    <meta property="og:image" content={image} />
                    <meta property="og:image:alt" content={title} />
                </>
            )
        }
        <meta name="twitter:card" content={image ? "summary_large_image" : "summary"} />
        <meta name="twitter:site" content="@miroulotte" />
        <meta name="twitter:title" content={title} />
        {description && <meta name="twitter:description" content={description} />}
        {image && <meta name="twitter:image" content={image} />}
        <script>
            (() => {
                const sliders = document.body.querySelectorAll<HTMLInputElement>(
                    'input[type="range"].slider'
                );

                for (const slider of sliders) {
                    const valueCallback = (event: Event) => {
                        const { detail } = event as CustomEvent;
                        const value = Number(detail) || 0;
                        const min = Number(slider.min) || 0;
                        const max = Number(slider.max) || 100;

                        slider.value = String(value);
                        slider.style.setProperty(
                            "--progress",
                            `${((value - min) / (max - min)) * 100}%`
                        );
                    };
                    const inputCallback = () => {
                        slider.dispatchEvent(
                            new CustomEvent("value", {
                                detail: slider.value,
                                bubbles: false,
                                cancelable: false
                            })
                        );
                    };

                    slider.addEventListener("value", valueCallback);
                    slider.addEventListener("input", inputCallback);
                    inputCallback();
                }
            })();
        </script>
    </head>
    <body {id} {style} class:list={cls}>
        <slot />
    </body>
</html>
