---
import Layout from "@components/layouts/Layout.astro";
import Footer from "@components/shared/Footer.astro";
import Header from "@components/shared/Header.astro";
import Main from "@components/shared/Main.astro";
import ScrollToTop from "@components/shared/ScrollToTop.astro";
import { drizzle } from "drizzle-orm/d1";
import { TripsTable } from "@db/trips";
import { and, asc, desc, eq, isNull, sql } from "drizzle-orm";
import { StagesTable } from "@db/stages";
import HeaderSection from "@components/modules/HeaderSection.astro";
import ContentSection from "@components/modules/ContentSection.astro";
import StageSection from "@components/modules/StageSection.astro";
import { CommentsTable } from "@db/comments";
import CommentsSection from "@components/modules/CommentsSection.astro";

const [trip, stage, ...rest] = Astro.params["slug"]!.split("/");

if (rest.length > 0) return Astro.redirect("/404");

const query = stage
    ? drizzle(Astro.locals.runtime.env.DB)
          .select({
              name: TripsTable.name,
              date: TripsTable.date,
              title: StagesTable.title,
              description: StagesTable.description,
              image: StagesTable.image,
              content: StagesTable.content,
              keywords: StagesTable.keywords,
              allowComments: StagesTable.allowComments
          })
          .from(StagesTable)
          .innerJoin(TripsTable, eq(StagesTable.tripId, TripsTable.id))
          .where(
              and(
                  eq(StagesTable.id, stage),
                  eq(StagesTable.tripId, trip),
                  eq(StagesTable.published, true)
              )
          )
    : drizzle(Astro.locals.runtime.env.DB)
          .select({
              name: TripsTable.name,
              date: TripsTable.date,
              title: TripsTable.title,
              description: TripsTable.description,
              image: TripsTable.image,
              content: TripsTable.content,
              keywords: TripsTable.keywords,
              allowComments: TripsTable.allowComments
          })
          .from(TripsTable)
          .where(and(eq(TripsTable.id, trip), eq(TripsTable.published, true)));
const data = (await query.get()) as Record<string, any> | undefined;

if (!data) return await Astro.redirect("/404");

// Get stages
const stagesQuery = drizzle(Astro.locals.runtime.env.DB)
    .select({
        title: StagesTable.title,
        image: StagesTable.image,
        url: sql<string>`CONCAT('/', ${StagesTable.tripId}, '/', ${StagesTable.id})`
    })
    .from(StagesTable)
    .where(and(eq(StagesTable.tripId, trip), eq(StagesTable.published, true)))
    .orderBy(asc(StagesTable.date));
const stagesData = await stagesQuery;

// Get comments
const commentsQuery = data.allowComments
    ? drizzle(Astro.locals.runtime.env.DB)
          .select({
              id: CommentsTable.id,
              username: CommentsTable.username,
              content: CommentsTable.content,
              repliedTo: CommentsTable.repliedTo,
              lastUpdatedAt:
                  sql`COALESCE(${CommentsTable.updatedAt}, ${CommentsTable.createdAt})`.mapWith(
                      CommentsTable.createdAt
                  )
          })
          .from(CommentsTable)
          .where(
              and(
                  eq(CommentsTable.tripId, trip),
                  stage ? eq(CommentsTable.stageId, stage) : isNull(CommentsTable.stageId)
              )
          )
          .orderBy(desc(sql`COALESCE(${CommentsTable.updatedAt}, ${CommentsTable.createdAt})`))
    : undefined;
const commentsData = await commentsQuery?.then((comments: any[]) => {
    const map = new Map(comments.map((c) => [c.id, { ...c, replies: [] }]));

    return comments.reduce<any[]>((acc, comment) => {
        let { id, repliedTo, ...rest } = map.get(comment.id);
        const parent = repliedTo ? map.get(repliedTo) : null;

        if (parent) {
            parent.replies?.push({ id, ...rest });
        } else {
            acc.push({ id, ...rest });
        }
        return acc;
    }, []);
});
---

<Layout
    title={data.title}
    description={data.description}
    image={data.image}
    keywords={data.keywords}>
    <Header />
    <Main>
        <HeaderSection
            title={data.title}
            subtitle={`${data.name} ${data.date!.getFullYear()}`}
            image={data.image}
        />
        <ContentSection content={data.content} />
        {commentsData && <CommentsSection content={commentsData} />}
        <StageSection stages={stagesData} />
    </Main>
    <Footer />
    <ScrollToTop />
</Layout>
